{% extends 'kontrolBack/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row d-flex justify-content-center">
<div class="col-md-6">
    <br>
    <h2 class="m-4">Nowa kontrola</h2>
    <form method="POST" class="m-4" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-outline-success float-right">Zapisz</button>
            <a class="btn btn-outline-danger float-left" href="{% url 'checklist_add' %}">Anuluj (nowa checklista)</a>
            <br>
    </form>
</div>
</div>
{% endblock content %}