{% extends 'kontrolBack/base.html' %}
{% load static %}


{% block content %}
<br><br>
<div class="row d-flex justify-content-center">
<div class="col-md-8">
    <h5><strong>Kontrole</strong></h5><br>
    <a href="{% url 'control_add' %}" class="btn btn-outline-primary btn-sm">Utwórz nową kontrolę</a><br><br>

{% if controls %}
<table id="tablesorted" class="table table-bordered table-striped tablesorter">    
    <thead>
        <tr>
            <th>Kontrolujący</th>
            <th>Kontrolowany</th>
            <th>Projekt</th>
            <th>Status</th>
            <th style='text-align: center;'>Akcje</th>
        </tr>
    </thead>
    <tbody>
        {% for c in controls %}
        <tr>
            <td>{{c.controlling}}</a></td>
            <td>{{c.project.beneficiary_name}}</td>
            <td>{{c.project.name}}</td>
            <td>{{c.get_status_display}}</td>
            <td> 
                <a class="text-primary" href="{% url 'control_checklist' pk=c.pk %}">Lista</a>
                {% if c.status == 0 %}
                <a class="orangetext" href="{% url 'control_delete' pk=c.pk %}">Usuń</a>
                {% endif %}
                <a class="greentext" href="{% url 'control_edit' pk=c.pk %}">Edycja</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<br><p><strong>Brak kontroli dostępnych dla użytkownika</strong></p>
{% endif %}
</div>
</div>

<script type="text/javascript" src="{% static 'kontrolBack/tablesorter.js' %}"></script>
{% endblock %}




