{% extends 'kontrolBack/base.html' %}
{% load static %}

{% block content %}
<br><br><select id="blocks_menu" class="jk-margin">
    <option disabled selected value> -- wybierz temat aby zobaczyć pytania -- </option>
    <!-- wypełniane javascriptem -->
</select><br><br>

<div id="result">
</div>

<script type="text/javascript" src="{% static 'kontrolBack/questionList.js' %}"></script>
{% endblock content %}





<!-- <div class="row d-flex justify-content-center">
<div class="col-md-8">
    <br>
    <h2 class="m-4">Pytania kontrolne</h2>

    <div class="row m-4 header">
        <div class="col-md-6 font-weight-bold">Pytanie</div>
        <div class="col-md-3 font-weight-bold">Blok</div>
    </div>
    <hr>
    
    {% for q in questions %}
    <div class="row m-4">
        <div class="col-md-6"> {{ q.name }} </div>
        <div class="col-md-3"> {{ q.block }} </div>
    </div><hr>
    {% empty %}
    <p>Nie znaleziono pytań.</p>
    {% endfor %}

</div> -->
