{% extends 'kontrolBack/base.html' %}

{% block content %}
<div class="row d-flex justify-content-center">
<div class="col-md-8">
    <br>
    <h2 class="m-4">Pytania kontrolne</h2>

    <div class="row m-4 header">
        <div class="col-md-6 font-weight-bold">Pytanie</div>
        <div class="col-md-3 font-weight-bold">Blok</div>
    </div>
    <hr>
    
    {% for q in questions %}
    <div class="row m-4">
        <div class="col-md-6"> {{ q.name }} </div>
        <div class="col-md-3"> {{ q.block }} </div>
    </div><hr>
    {% empty %}
    <p>Nie znaleziono pytań.</p>
    {% endfor %}

</div>
</div>
{% endblock content %}