
.form-check {
    display: none;
}

.navbar {
    border: 1px solid salmon;
}

.forloop-counter {
    border-radius: 25px;
    padding: 5px 10px;
    width: 35px;
    height: 35px;
    background-color: black;
    color: white;
  }

/* table, form, p {
    margin-left: 5em;
    margin-right: 5em;
} */

body {
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
}


.orangetext {
    color: salmon;
}

.greentext {
    color: olivedrab;
}

.bluetext {
    color: mediumslateblue;
}


td {
    padding: 10px;
}

td.border-bottom {
    border-bottom: 2pt solid black;
}


tbody::before {
    content: none;
}


tbody:before {
    content:"@";
    display:block;
    line-height:40px;
    text-indent:-99999px;
    border-top: none;
}



.hidden {
    display: none;
}


.error {
    color: maroon;
    background-color: lightcoral;
}



