{% extends 'kontrolBack/base.html' %}
{% load static %}


{% block content %}
<br><br>
<h5><strong>Lista sprawdzająca dla kontroli {{ control.name }} </strong>(edycja)</h5><br>
<a href="{% url 'control_checklist' pk=control.pk %}" class="btn btn-outline-danger btn-sm">Anuluj</a>
<a href="" class="btn btn-outline-success btn-sm">Zapisz zmiany</a>

<table>
    <tr>
        <td class="border-bottom"><strong>L.p.</strong></td>
        <td class="border-bottom"><strong>Pytanie</strong></td>
        <td class="border-bottom"><strong>Blok</strong></td>
        <td class="border-bottom"><strong>Odpowiedź</strong></td>
    </tr>

    {% for q in questions %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{ q.question_name }}</td>
        <td>{{ q.block_name }}</td>
        <td class="answer_field">{{ q.answer.content }}</td>
    </tr>
    <tr>
        <td colspan="4" class="border-bottom">Komentarz:<br>
        <em>{% firstof q.answer.comment 'Brak uwag' %}<br></em></td>
    </tr>
    {% endfor %}
</table>

<script type="text/javascript" src="{% static 'kontrolBack/answerField.js' %}"></script>
{% endblock content %}